@model krabdev.Models.FAQ

@{
    ViewBag.Title = "Create";
}

<h2>Create New FAQ</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FAQ</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Question)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Question)
            @Html.ValidationMessageFor(model => model.Question)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anwser)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Anwser)
            @Html.ValidationMessageFor(model => model.Anwser)
        </div>
        <br/>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
